################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/Fluid/.vs/Physics/v17
/Fluid/.vs/Physics/FileContentIndex
/Fluid/x64/Debug
/FluidView/x64/Debug
*.ini
/Fluid/x64/Release
/FluidView/x64/Release
/FluidConsole/x64/Debug
/FluidConsole/x64/Release
/Sound/x64/Debug
/SSFR/x64/Debug
/SoundView/x64
/SSFRView/x64/Debug
/SSFR/x64/Release
/SSFRView/x64/Release
/SSFR/SSFR/x64/Debug
/Fluid/Fluid/x64/Release
/PyFluid/PyFluid/x64/Release
/PyFluid/x64/Release
/PyFluid/__pycache__
/Fluid/Fluid/x64/Debug
/FluidTest/FluidTest/x64/Debug
/FluidTest/x64/Debug
/FluidView/FluidView/x64/Debug
/PyFluid/build-v142/CMakeFiles
/PyFluid/build-v142/crystal_fluid.dir/Release
/PyFluid/build-v142/Release
/PyFluid/build-v142
/PyFluid/crystal_sph_addon/__pycache__
/PyFluid/build
/PyFluid/crystal_sph_addon/__pycache__
/build_linux
/Fluid_GPU/x64/Debug
/Fluid_GPU/Fluid_GPU/x64/Debug
/Fluid_GPU_Test/Fluid_GPU_Test/x64/Debug
/Fluid_GPU_Test/x64/Debug
/FluidView/FluidView/x64/Release
/Fluid_GPU/Fluid_GPU/x64/Release
/Fluid_GPU/x64/Release/Fluid_GPU.tlog
/Fluid_GPU/x64/Release
/Fluid_GPU_Test/Fluid_GPU_Test/x64/Release
/Fluid_GPU_Test/x64/Release
/Fluid_GPU_Vk/x64/Debug
/FluidTest/x64/Release
/SSFRView/SSFRView/x64/Debug
/VkFluidView/x64/Debug
/VkFluidView/x64/Release/VkFluidView.tlog
/VkFluidView/x64/Release
*.spv
/Fluid_GPU_Vk/x64/Release
/SSFR_Vk/SSFR_Vk/x64/Debug
/SSFR_Vk/x64/Debug
/SSFR_Vk/x64/Release
/Fluid_GPU_Vk/Fluid_GPU_Vk/x64/Debug
/VkFluidView/VkFluidView/x64/Debug
/SSFR_Vk/envmap/back.png
/SSFR_Vk/envmap/bottom.png
/SSFR_Vk/envmap/front.png
/SSFR_Vk/envmap/left.png
/SSFR_Vk/envmap/right.png
/SSFR_Vk/envmap/top.png
/CsFluid/x64/Release
/WpfFluidApp/bin/x64/Debug/net48
/WpfFluidApp/obj
/WpfFluidApp/bin/x64/Release/net48
/CsFluid/CsFluid/x64/Debug
/CsFluid/x64/Debug
/Fluid_GPU_Vk/Fluid_GPU_Vk/x64/Release/Fluid_GPU_Vk.tlog
/Fluid_GPU_Vk/Fluid_GPU_Vk/x64/Release
/SSFR_Vk/SSFR_Vk/x64/Release
/VkFluidView/VkFluidView/x64/Release
/FluidRenderer/envmap
/FluidRenderer/SSFR_Vk/x64/Debug
/FluidRenderer/SSFR_Vk/x64/Release
/FluidRenderer/x64/Debug
/FluidRenderer/x64/Release
/FluidRenderer/FluidRenderer/x64/Debug
/Cloth/Cloth/x64
/Cloth/x64
/ClothTest/x64/Debug
/ClothView/x64/Debug
/RigidBody/RigidBody/x64
/RigidBody/x64
/RigidBodyTest/RigidBodyTest/x64/Debug
/RigidBodyTest/x64/Debug
/RigidBodyView/RigidBodyView/x64/Debug
/RigidBodyView/x64/Debug
/ClothTest/x64/Release
/ClothView/x64/Release
/RigidBodyTest/x64/Release
/RigidBodyView/x64/Release
/SoftBody/SoftBody/x64
/SoftBody/x64
/SoftBodyTest/SoftBodyTest/x64/Debug
/SoftBodyTest/x64/Debug
/SoftBodyView/SoftBodyView/x64/Debug
/SoftBodyView/x64/Debug
/SoftBodyView/x64/Release
/SoftBodyTest/x64/Release
/Physics/.vs/Physics
/Physics/Fluid/x64
/Physics/Physics/x64/Debug
/Physics/x64
/PhysicsView/FluidView/x64/Debug
/PhysicsView/FluidView/x64/Debug
/PhysicsView/x64
/PhysicsTest/FluidTest/x64/Debug
/PhysicsTest/x64
/PhysicsTest/PhysicsTest/x64/Debug
/PhysicsView/PhysicsView/x64/Debug
/Physics/Physics/x64/Release
/PhysicsView/testdata
/FluidRenderer/FluidRenderer/x64/Release
/FlameView/x64
/FlameView/FlameView/x64/Debug
/FlameView/FlameView/x64/Release
